body{
font-family:Arial, Helvetica, sans-serif; 
font-size:13px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 10px;
  color: white;
}

.App-intro {
  font-size: large;
}

.column {
    padding: 25px;
    width: 30%;
    float: left;
    
}

.wrapper {
    display:inline-block;
}

input {
    width: 70%;
    margin: 8px 0;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 3px #ddd;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
    padding-top:7px;
    padding-bottom: 7px;
}



@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
